<div class="scroll-table-container">
	<div class="scroll-table-header" [ngStyle]="{width: 'calc( 100% - '+getScrollbarWidth()+'px )'}">
		<table class="table">
			<thead>
				<tr>
					<th *ngFor = "let col of columns"><div>{{col.displayName}}</div></th>
					<!-- <th><div>Std</div></th>
					<th><div>Age</div></th>
					<th><div>YearLOngTextMayGoThereButDontWorryTruncated</div></th>
					<th><div>Section</div></th> -->
				</tr>
			</thead>
		</table>
	</div>
	<div class="scroll-table-body">
		<table class="table">

			<tbody>
				<tr *ngFor="let row of rows">
					<td *ngFor = "let col of columns" [width]="col.width" [ngStyle]="{width: col.width}">{{row[col.name]}}</td>
					<!-- <td>{{row.std}}</td>
					<td>{{row.age}}</td>
					<td>{{row.year}}</td>
					<td>{{row.section}}</td> -->
				</tr>

			</tbody>
		</table>
	</div>
	<div class="scroll-table-footer">
		<table class="table">
			<tfoot>
				<tr>
					<th colspan="100">Name</th>
				
				</tr>
			</tfoot>
		</table>
	</div>
</div>