.scroll-table-container {
    width: 90%;
    margin: auto;

    .scroll-table-body {
        height: 500px;
        width: 100%;
        overflow-y: scroll;
    }

    .scroll-table-header {
        width: calc(100% - 17px);
    }

    .scroll-table-footer {
        width: calc(100% - 17px);
    }

    .table {
        margin-bottom: 0;
    }
    label{
        border:0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .table-control{
        width:100%;
        label{
            width:100%;
        }
    }
    td,
    th,th {
        border: 1px solid #ccc;
        max-width: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        div,label{
            border:0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}