.scroll-table-container {
    width: 90%;
    margin: auto;

    .scroll-table-body {
        height: 500px;
        overflow-y: scroll;
    }
    .scroll-table-header {
        width:calc( 100% - 17px );
    }
    .scroll-table-footer {
        width:calc( 100% - 17px );
    }
    .table{
        margin-bottom: 0;
    }
    td,th{
        border: 1px solid #ccc
    }
}